@import 'contentBlocks/BigOrderedList.css';
@import 'contentBlocks/TwoUpBlock.css';
@import 'contentBlocks/RichTextBlock.css';
@import 'contentBlocks/ArticleRichText.css';
@import 'contentBlocks/RichQuote.css';
@import 'contentBlocks/OverlapDoubleImages.css';

.CTACardsBlock {
  figure {
    position: relative;
  }

  figCaption {
    position: absolute;
    padding-top: 0;
    top: calc(100% + 0.35rem);
    left: 0;
  }
}

.PractitionerCard {
  &__headshot {
    position: relative;

    @screen md {
      a:focus,
      a:hover {
        .PractitionerCard__blurb {
          display: block;
        }
      }
    }
  }

  &__blurb {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.Subnav {
  &__item {
    .Subnav__item-circle {
      transition: all 200ms;
      width: 0px;
      height: 0px;
      max-width: 13px;
      max-height: 13px;
    }

    &:hover {
      .Subnav__item-circle {
        width: 13px;
        height: 13px;
      }
    }
  }

  &__mobile-inner-wrapper {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  &__mobile--avtice {
    transform: translateY(0);
  }

  .Subnav__item-circle--active {
    width: 13px;
    height: 13px;
  }

  .Subnav__item-circle--active-top {
    @screen lg {
      width: 13px;
      height: 13px;
    }
  }
}

.ColumnsBlock,
.CTACardsBlock {
  .ChildBlockWrapper {
    height: 100%;
  }
}

.TextWithDualCtaHeader {
  &__cta--bottom:hover,
  &__cta--top:hover {
    height: 288px;

    @screen md {
      height: 638px;
    }
  }

  .TextWithDualCtaHeader__cta-wrapper {
    min-height: 432px;

    @screen md {
      height: 782px;
    }

    img {
      transition-property: opacity;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 300ms;
    }
  }

  .TextWithDualCtaHeader__cta-wrapper:hover > a:not(:hover) {
    height: 132px;

    img {
      opacity: 0;
    }
  }
}

.fadeUpElement {
  opacity: 1;
}

.fadeUpElement--inactive {
  opacity: 0;
  pointer-events: none;
  height: 100%;
  /* overflow: hidden; */
  position: absolute;
  top: 0;
}

.fadeUpElement--animated {
  transition: 0.2s;
  transition-delay: 0.2s;
  &.fadeUpElement--inactive {
    transition-delay: 0s;
    transform: translateY(10px);
  }
}
