.CTACardsBlock {
  figure {
    position: relative;
  }

  figCaption {
    position: absolute;
    padding-top: 0;
    top: calc(100% + 0.35rem);
    left: 0;
  }
}

.PractitionerCard {
  &__headshot {
    position: relative;

    @screen md {
      a:focus,
      a:hover {
        .PractitionerCard__blurb {
          display: block;
        }
      }
    }
  }

  &__blurb {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/* style unordered list and list elements */
.ImageTextOverlapBlock ul {
  display: grid;
  grid-template-rows: repeat(1, minmax(0, 1fr));
  margin-top: 52px;

  li {
    border-top: 1px solid var(--border-color);
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @screen md {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 30px;
  }
}

/* style bullet of list style */
.ImageTextOverlapBlock ul li::before {
  /* same em value as normal, but adding in the same top-padding the LI has */
  top: calc(20px + 0.5em);
}
