.RichText {
  > * + * {
    margin-top: 1em;
  }

  a:not(.cta) {
    transition: all 500ms ease;
    border-bottom: 1px solid;

    &:hover {
      border-color: var(--cta-bg-color-primary);
    }

    [data-whatintent='keyboard'] &:focus {
      outline: none;
      background-color: var(--cta-bg-color-primary);
      color: var(--cta-text-color-primary);
    }
  }

  strong {
    font-weight: 500;
  }

  ol {
    list-style: number;
    list-style-position: outside;
    padding: theme(spacing.6) 0px;

    li {
      padding-left: 20px;
      margin-left: 20px;
      margin-top: theme(spacing.4);
    }

    li:first-child {
      margin-top: 0;
    }
  }

  ul {
    list-style: none;
    padding: theme(spacing.6) 0px;

    li {
      position: relative;
      padding-left: 40px;
      margin-top: theme(spacing.4);

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: calc(0.5em);
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: theme('colors.yellow');
      }
    }

    li:first-child {
      margin-top: 0;
    }
  }

  .cta__inner a {
    border-bottom: none;
  }

  .TwoColumnUnorderedList {
    margin-top: 52px;

    > li {
      margin-top: 0;
    }
  }

  /* style bullet of list style */
  .TwoColumnUnorderedList li::before {
    top: calc(20px + 0.375em);
  }
}
