.RichText {
  > * + * {
    margin-top: 1em;
  }

  a {
    border-bottom: 1px solid;
  }

  strong {
    font-weight: 500;
  }

  ol {
    list-style: number;
    list-style-position: outside;
    padding: 24px 0px;

    li {
      padding-left: 20px;
      margin-left: 20px;
      margin-top: 24px;
    }

    li:first-child {
      margin-top: 0;
    }
  }

  ul {
    list-style: none;
    padding: 24px 0px;

    li {
      position: relative;
      padding-left: 40px;
      margin-top: 24px;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: calc(0.5em);
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: theme('colors.yellow');
      }
    }

    li:first-child {
      margin-top: 0;
    }
  }

  .cta__inner a {
    border-bottom: none;
  }

  .TwoColumnUnorderedList {
    margin-top: 52px;
  }

  /* style bullet of list style */
  .TwoColumnUnorderedList li::before {
    top: calc(20px + 0.375em);
  }
}
