.RichQuote {
  margin: theme(spacing.24) 0;
  blockquote:before {
    content: open-quote;
    margin-left: -0.5rem;

    @screen md {
      margin-left: -0.7rem;
    }

    @screen lg {
      margin-left: -0.9rem;
    }
  }

  blockquote:after {
    content: close-quote;
  }

  blockquote:before,
  blockquote:after {
    display: inline;
    padding: 0;
    position: absolute;
  }

  > .RichQuote__author {
    margin: theme(spacing.8) 0 0 0;
    padding: 0;
  }
}
