.Subnav {
  &__item {
    border: 3px solid transparent;

    [data-whatintent='keyboard'] &:focus {
      outline: none;
      border-color: var(--cta-border-color);
    }

    .Subnav__item-circle {
      transition: all 200ms;
      width: 13px;
      height: 13px;
      max-width: 13px;
      max-height: 13px;
    }

    &:hover {
      .Subnav__item-circle {
        width: 13px;
        height: 13px;
      }
    }
  }

  &__mobile-inner-wrapper {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  &__mobile--avtice {
    transform: translateY(0);
  }
}
