.text-theme-primary,
.text-theme-secondary,
.text-theme-decorative,
.cta-text-theme-primary,
.cta-text-theme-secondary {
  color: inherit;
}

.cta-bg-theme-primary,
.cta-bg-theme-secondary {
  background-color: inherit;
}

.border-theme {
  border-color: inherit;
}

svg {
  .icon-base,
  .icon-overlap {
    fill: currentColor;
  }
}

/*
 * Reference:
 * https://www.figma.com/file/2ghg22zsQKeysX5YUcDP5d/%5BFirefly%5D-Design-System?type=design&node-id=3801%3A6956&mode=dev
 */
.font-size--1 {
  font-size: 96px;

  @screen md {
    font-size: 120px;
  }
  @screen lg {
    font-size: min(192px, 10vw);
  }
}

.font-size--2 {
  font-size: 52px;

  @screen md {
    font-size: 72px;
  }
  @screen lg {
    font-size: min(140px, 7.25vw);
  }
}

.font-size--3 {
  font-size: 48px;

  @screen md {
    font-size: 64px;
  }
  @screen lg {
    font-size: min(108px, 5.625vw);
  }
}

.font-size--4 {
  font-size: 32px;

  @screen md {
    font-size: 43px;
  }
  @screen lg {
    font-size: 54px;
  }
}

.font-size--5 {
  font-size: 24px;

  @screen md {
    font-size: 34px;
  }
  @screen lg {
    font-size: 44px;
  }
}

.font-size--6 {
  font-size: 20px;

  @screen md {
    font-size: 26px;
  }
  @screen lg {
    font-size: 32px;
  }
}

.font-size--7 {
  font-size: 18px;

  @screen md {
    font-size: 21px;
  }
  @screen lg {
    font-size: 24px;
  }
}

.font-size--8 {
  font-size: 16px;

  @screen md {
    font-size: 18px;
  }
}

.font-size--9 {
  font-size: 14px;
}

.font-size--10 {
  font-size: 12px;
}
/**
 * General theme styles
 */
.theme-white {
  .bg-theme {
    background: theme('colors.white');
  }

  .text-theme-primary {
    color: theme('colors.black');
  }

  .text-theme-secondary {
    color: theme('colors.grey-darker');
  }

  .text-theme-decorative {
    color: theme('colors.sienna');
  }

  .border-theme {
    border-color: theme('colors.grey-medium');
  }

  svg {
    .icon-base {
      fill: theme('colors.yellow');
    }

    .icon-overlap {
      fill: theme('colors.yellow-dark');
    }
  }
}
.theme-grey {
  .bg-theme {
    background: theme('colors.grey');
  }

  .text-theme-primary {
    color: theme('colors.black');
  }

  .text-theme-secondary {
    color: theme('colors.grey-darker');
  }

  .text-theme-decorative {
    color: theme('colors.sienna');
  }

  .border-theme {
    border-color: theme('colors.grey-dark');
  }

  svg {
    .icon-base {
      fill: theme('colors.yellow');
    }

    .icon-overlap {
      fill: theme('colors.yellow-dark');
    }
  }
}

.theme-sienna {
  .bg-theme {
    background: theme('colors.sienna');
  }

  .text-theme-primary {
    color: theme('colors.yellow-light');
  }

  .text-theme-secondary {
    @apply text-yellow-light/70;
  }

  .text-theme-decorative {
    color: theme('colors.yellow');
  }

  .border-theme {
    border-color: theme('colors.black');
  }

  svg {
    .icon-base {
      fill: theme('colors.sienna-light');
    }

    .icon-overlap {
      fill: theme('colors.sienna-lightest');
    }
  }
}

.theme-midnight {
  .bg-theme {
    background: theme('colors.midnight');
  }

  .text-theme-primary {
    color: theme('colors.yellow-light');
  }

  .text-theme-secondary {
    @apply text-yellow-light/70;
  }

  .text-theme-decorative {
    color: theme('colors.sky');
  }

  .border-theme {
    border-color: theme('colors.grey-darker');
  }

  svg {
    .icon-base {
      fill: theme('colors.sky-medium');
    }

    .icon-overlap {
      fill: theme('colors.sky');
    }
  }
}

.theme-sky {
  .bg-theme {
    background: theme('colors.sky');
  }

  .text-theme-primary {
    color: theme('colors.black');
  }

  .text-theme-secondary {
    @apply text-black/70;
  }

  .text-theme-decorative {
    color: theme('colors.sky');
  }

  .border-theme {
    @apply border-white/40;
  }

  svg {
    .icon-base {
      fill: theme('colors.sky-medium');
    }

    .icon-overlap {
      fill: theme('colors.sky-dark');
    }
  }
}

/**
 * CTA Styles
 */

.cta {
  @apply font-size--8;
  border-radius: 48px;
  cursor: pointer;
  height: 40px;

  &__inner {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 3.5rem;

    @screen md {
      padding: 0 4.5rem;
    }
  }

  @screen md {
    height: 48px;
  }

  &:disabled {
    pointer-events: none;
  }

  &--textLink {
    height: 26px;

    @screen md {
      height: 24px;
    }

    .cta__inner {
      padding: 0 1.625rem;
    }
  }
}

/*
 * Primary CTA
 *
 * (consistent across themes)
 **/
.cta--primary {
  color: theme('colors.black');
  background-color: theme('colors.yellow');
  border: 3px solid transparent;

  &:hover {
    background-color: theme('colors.yellow-light');
  }

  &:focus {
    border-color: theme('colors.yellow-light');
  }

  &:disabled {
    color: theme('colors.grey-darker');
    background-color: theme('colors.grey-medium');
  }
}

/*
 * Themed CTA styles
 */

.theme-white {
  .cta--secondary {
    color: theme('colors.midnight');
    background-color: theme('colors.grey');
    border: 3px solid transparent;

    &:hover {
      /* TODO: Pending designs */
      opacity: 0.7;
    }

    &:focus {
      /* TODO: Pending designs */
      border-color: theme('colors.yellow');
    }

    &:disabled {
      /* TODO: Pending designs */
      color: theme('colors.grey-darker');
      background-color: theme('colors.grey-medium');
    }
  }

  .cta--outlined {
    color: theme('colors.midnight');
    background-color: transparent;
    border: 1px solid theme('colors.grey-medium');

    &:hover {
      border-color: theme('colors.grey-darker');
    }

    &:focus {
      border: 3px solid theme('colors.yellow');

      .cta__inner {
        border-radius: 48px;
        border: 1px solid theme('colors.grey-darker');
      }
    }

    &:disabled {
      color: theme('colors.grey-darker');
      border-color: theme('colors.grey-medium');
    }
  }

  .cta--textLink {
    color: theme('colors.midnight');
    border-bottom: 1px solid theme('colors.midnight');
    border-radius: 0px;

    &:hover {
      border-color: theme('colors.yellow');
    }

    &:focus {
      border-color: transparent;
      background-color: theme('colors.yellow');
    }

    &:disabled {
      color: theme('colors.grey-darker');
      border-color: theme('colors.white');
    }
  }
}

.theme-grey {
  .cta--secondary {
    color: theme('colors.midnight');
    background-color: theme('colors.grey-medium');
    border: 3px solid transparent;

    &:hover {
      /* TODO: Pending designs */
      opacity: 0.7;
    }

    &:focus {
      /* TODO: Pending designs */
      border-color: theme('colors.yellow');
    }

    &:disabled {
      /* TODO: Pending designs */
      color: theme('colors.grey-darker');
      background-color: theme('colors.grey-medium');
    }
  }

  .cta--outlined {
    color: theme('colors.midnight');
    background-color: transparent;
    border: 1px solid theme('colors.grey-medium');

    &:hover {
      border-color: theme('colors.grey-darker');
    }

    &:focus {
      border: 3px solid theme('colors.yellow');

      .cta__inner {
        border-radius: 48px;
        border: 1px solid theme('colors.grey-darker');
      }
    }

    &:disabled {
      color: theme('colors.grey-darker');
      border-color: theme('colors.grey-medium');
    }
  }

  .cta--textLink {
    color: theme('colors.midnight');
    border-bottom: 1px solid theme('colors.midnight');
    border-radius: 0px;

    &:hover {
      border-color: theme('colors.yellow');
    }

    &:focus {
      border-color: transparent;
      background-color: theme('colors.yellow');
    }

    &:disabled {
      color: theme('colors.grey-darker');
      border-color: theme('colors.white');
    }
  }
}

.theme-sienna {
  .cta--secondary {
    color: theme('colors.yellow-light');
    background-color: theme('colors.sienna-dark');
    border: 3px solid transparent;

    &:hover {
      /* TODO: Pending designs */
      opacity: 0.7;
    }

    &:focus {
      /* TODO: Pending designs */
      border-color: theme('colors.yellow');
    }

    &:disabled {
      /* TODO: Pending designs */
      color: theme('colors.grey-darker');
      background-color: theme('colors.grey-medium');
    }
  }

  .cta--outlined {
    /* TODO: Pending designs */
  }

  .cta--textLink {
    /* TODO: Pending designs */
  }
}

.theme-midnight {
  .cta--secondary {
    color: theme('colors.yellow-light');
    background-color: theme('colors.midnight-light');
    border: 3px solid transparent;

    &:hover {
      /* TODO: Pending designs */
      opacity: 0.7;
    }

    &:focus {
      /* TODO: Pending designs */
      border-color: theme('colors.yellow');
    }

    &:disabled {
      /* TODO: Pending designs */
      color: theme('colors.grey-darker');
      background-color: theme('colors.grey-medium');
    }
  }

  .cta--outlined {
    /* TODO: Pending designs */
  }

  .cta--textLink {
    /* TODO: Pending designs */
  }
}

.theme-sky {
  .cta--secondary {
    color: theme('colors.black');
    background-color: theme('colors.sky-light');
    border: 3px solid transparent;

    &:hover {
      /* TODO: Pending designs */
      opacity: 0.7;
    }

    &:focus {
      /* TODO: Pending designs */
      border-color: theme('colors.yellow');
    }

    &:disabled {
      /* TODO: Pending designs */
      color: theme('colors.grey-darker');
      background-color: theme('colors.grey-medium');
    }
  }
  .cta--outlined {
    /* TODO: Pending designs */
  }

  .cta--textLink {
    /* TODO: Pending designs */
  }
}
